body {
  margin: 0;
  font-family: Arial;
  background: #eaeded;
}

.navbar {
  background: #2c3138;
  color: #f0c14b;
  display: flex;
  padding: 10px;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
}

.navbar input {
  flex: 1;
  padding: 8px;
}

.navbar nav a {
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

.page {
  padding: 20px;
}

.hidden {
  display: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.details-card {
  background: white;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.details-card img {
  width: 300px;
}

button {
  background: #ffd814;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.login-box {
  max-width: 350px;
  margin: 120px auto;
  background: white;
  padding: 20px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.tracker {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.step {
  padding: 10px;
  border: 1px solid #ccc;
}

.step.active {
  background: #4caf50;
  color: white;
}

.map {
  width: 100%;
  max-width: 600px;
}
